<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>#}
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/sortable-theme-dark.css" />
    <script src="/static/sortable.min.js"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/static/jquery.tablesort.js"></script>

    <title>Reporting module</title>
</head>
<body>
{#<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>#}
{% block body %}

{% endblock %}
</body>
</html>